<section class="content">
  <div class="row mx-0">
    <div class="dashboard-box">
      <div class="dashboard-card" >
        <div class="card text-center m-0">
          <div class="card-body">
            <div class="left-section">
              <img src="assets/images/icons/Recruiter_logo.png" />
              <p>Employees</p>
            </div>
            <div class="card-body-num text-left">
              <span class="dash-num2">{{EmployeeCount}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-card">
        <div class="card text-center  m-0">
          <div class="card-body">
            <div class="left-section ">
              <img src="assets/images/icons/reports.png" />
              <p>Total Reports</p>
            </div>
            <div class="card-body-num text-right">
              <span class="dash-num4">{{reportCount}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-card" >
        <div class="card text-center  m-0">
          <div class="card-body">
            <div class="left-section">
              <img src="assets/images/icons/OIP.jpg" width="45px" />
              <p>Total Scan Details</p>
            </div>
            <div class="card-body-num text-right">
              <span class="dash-num3">{{ScansCount}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
